/*
 *= require scaffold
 *= require index
 *= require_self
*/

#error
{
  color: red;
}

#notice
{
  color: green;
}

ul.sortable li
{
  list-style: none;
}

ul.sortable li .handle 
{
  color: #777;
  cursor: move;
  font-size: 12px;
}